* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: black;
    height: 100vh;
}


.layout {
    display: flex;
    height: 100vh;
}


.leftcolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.info h1 {
    font-size: 3rem;
    font-weight: bold;
}
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    gap: 50px;
}
.navigation button {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid darkblue;
    border-radius: 50px;
    background-color: white;
    transition: all 0.3s ease;
    scale: 1.10;
}
.navigation button:hover {
    background-color: #ffffff;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgb(99, 97, 97);
}
.navigation button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px lightgray;
}


.rightcolumn {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, darkblue 0%, rgb(111, 111, 214) 100%);
}
.rightcolumn img {
    max-width: 60%;
    max-height: 60%;
    object-fit: cover;
    border-radius: 12px;
}